<% include partials/header%>

    <div class="container centered">
        <h1 class="mt-5">Page Not Found!</h1>
        <img src="./assets/images/pac-404.png" alt="Pacman Ghost 404">
    </div>

<% include partials/footer %>